---
layout: post-index
title: Domain Archive
description: "An archive of posts by domain."
comments: false
image:
  feature: /blog-header-img.png
---

{% assign old_domain_list = site.posts | map: "domain" | compact | uniq %}
{% assign domain_list = "" %}
{% for an_item in (0..old_domain_list.size) %}
<!-- This insanity was needed to remove a nil domain that kept popping up -->
    {% if old_domain_list[an_item] == nil %}
        {% continue %}
    {% endif %}
    {% assign domain_list = domain_list | append: old_domain_list[an_item] %}
    {% unless forloop.last %}
        {% assign domain_list = domain_list | append: "," %}
    {% endunless %}
{% endfor %}
{% assign domain_list = domain_list | split: "," %}


<ul class="entry-meta inline-list">
  {% for item in (0..domain_list.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ domain_list[item] | strip_newlines }}{% endcapture %}
    {% assign posts_per_domain = 0 %}
        {% for a_post in site.posts %}
            {% if a_post.domain and a_post.domain == domain_list[item] %}
                {% assign posts_per_domain = posts_per_domain | plus: 1 %}
            {% endif %}
        {% endfor %}
  	    <li><a href="#{{ this_word }}" class="tag kiroku-domain-bubble-{{ domain_list[item] }}"><span class="term">{% include domainicon domain=this_word %} {{ this_word }}</span> <span class="count">{{ posts_per_domain }}</span></a></li>
  {% endunless %}{% endfor %}
</ul>

{% for item in (0..domain_list.size) %}
  {% unless forloop.last %}
  {% capture this_word %}{{ domain_list[item] | strip_newlines }}{% endcapture %}
	<article class="entry-content {% if this_word %} kiroku-domain-entry-ribbon kiroku-domain-ribbon-{{ this_word }} kiroku-domain-background-{{ this_word }} {% endif %}">
	<h2 id="{{ this_word }}" class="tag-heading {% if this_word %} kiroku-domain-text-dark-{{ this_word }} {% endif %}">{% include domainicon domain=this_word %} {{ this_word }}</h2>
		<ul>
    {% for post in site.posts %}
        {% if post.title != null and post.domain and post.domain == domain_list[item] %}
          <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
		</ul>
	</article><!-- /.hentry -->
  {% endunless %}
{% endfor %}
