---
layout: post-index
title: Project Archive
description: "An archive of posts by project."
comments: false
image:
  feature: /blog-header-img.png
---

<ul class="entry-meta inline-list">
  <!-- For every project, look at every post if its project matches, and increment the tally -->
  {% for project in site.projects %}
    {% assign posts_per_project = 0 %}
    {% for post in site.posts %}
        {% if post.project and post.project == project.title %}
            {% assign posts_per_project = posts_per_project | plus: 1 %}
        {% endif %}
    {% endfor %}
	<li><a href="#{{ project.title }}" class="tag kiroku-domain-bubble-{{ project.domain }}"><span class="term">{{ project.title }}</span> <span class="count">{{ posts_per_project }}</span></a></li>
  {% endfor %}
</ul>

{% for project in site.projects %}
	<article class="entry-content {% if project.domain %} kiroku-domain-entry-ribbon kiroku-domain-ribbon-{{ project.domain }} {% endif %}">
        {% if project.image.feature %}
          <div class="entry-image-index" style="max-height: 380px; overflow: hidden; display: flex; align-items: center;">
            <img src="{{ site.url }}/_images/{{ project.image.feature }}" alt="{{ project.title }}" style="width: 200%;"></img>
          </div><!-- /.entry-image -->
        {% endif %}
        <div class="entry-meta kiroku-entry-meta-block">
            <div class="kiroku-entry-meta-half-block">
                {% if project.do-show-start-date %}
                    <h4>{{ project.start-date | date: "%B %Y" }}{% if project.end-date %} — {{ project.end-date | date: "%B %Y" }}{% elsif project.do-show-end-date %} and Ongoing{% endif %}</h4>
                {% elsif project.do-show-end-date %}
                    <h4>{{ project.end-date | date: "%B %Y" }}</h4>
                {% endif %}
            </div>
            <div class="kiroku-entry-meta-half-block">
                <div class="kiroku-entry-meta-right-block-text">
                    <div class="kiroku-meta-domain-bubble kiroku-domain-bubble-{{ project.domain }}">
                        <a href="{{ site.url }}/archive-by-domain/#{{ project.domain }}">{% include domainicon domain=project.domain %}{{ project.domain }}</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 id="{{ project.title }}" class="tag-heading" style="margin-bottom: 0px;">
            <a href="{{ site.url }}/projects/{{ project.title | slugify }}">{{ project.title }}</a>
        </h2>
        <h4 style="margin-top: 0px;">{{ project.description }}</h4>
		<ul>
            {% assign posts_exist = false %}
            {% for post in site.posts %}
                {% if post.title != nil and post.project and post.project == project.title %}
                  {% assign posts_exist = true %}
                  <li class="entry-title" style="padding-bottom: 2pt;">
                      <p class="kiroku-meta-domain-bubble kiroku-domain-bubble-{{ post.domain }}" style="width: 85pt; text-align: center;">
                          <a href="{{ site.url }}/archive-by-domain/#{{ post.domain }}">{% include domainicon domain=post.domain %}{{ post.domain }}</a>
                      </p>
                      &ensp;<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </li>
                {% endif %}
            {% endfor %}
		</ul>
        {% if posts_exist == false %}
            <p class="">There are no posts for this project.</p>
        {% endif %}
	</article><!-- /.hentry -->
{% endfor %}
