---
layout: post-index
title: Project Archive
description: "An archive of posts by project."
comments: false
---

<!-- Conjure up a list of all projects recorded in this blog -->
{% assign old_project_list = site.posts | map: "project" | compact | uniq %}
{% assign project_list = "" %}
{% for an_item in (0..old_project_list.size) %}
<!-- This insanity was needed to remove a nil project that kept popping up -->
    {% if old_project_list[an_item] == nil %}
        {% continue %}
    {% endif %}
    {% assign project_list = project_list | append: old_project_list[an_item] %}
    {% unless forloop.last %}
        {% assign project_list = project_list | append: "," %}
    {% endunless %}
{% endfor %}
{% assign project_list = project_list | split: "," %}
<!-- Account for projects that have no posts -->
{% assign project_page_list = site.pages | where: "layout","project" %}
{% assign extra_project_list = project_page_list | map: "title" %}
{% for a_project in extra_project_list %}
    {% assign project_list = project_list | push: a_project %}
{% endfor %}
{% assign project_list = project_list | uniq %}


<ul class="entry-meta inline-list">
  {% for item in (0..project_list.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ project_list[item] | strip_newlines }}{% endcapture %}
    {% assign posts_per_project = 0 %}
        {% for a_post in site.posts %}
            {% if a_post.project and a_post.project == project_list[item] %}
                {% assign posts_per_project = posts_per_project | plus: 1 %}
            {% endif %}
        {% endfor %}
  	    <li><a href="#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ posts_per_project }}</span></a></li>
  {% endunless %}{% endfor %}
</ul>

{% for item in (0..project_list.size) %}
  {% unless forloop.last %}
  {% capture this_word %}{{ project_list[item] | strip_newlines }}{% endcapture %}
	<article>
	<h2 id="{{ this_word }}" class="tag-heading"><a href="{{ site.url }}/projects/{{ project_list[item] | slugify }}">{{ this_word }}</a></h2>
		<ul>
    {% assign posts_exist = false %}
    {% for post in site.posts %}
        {% if post.title != null and post.project and post.project == project_list[item] %}
          {% assign posts_exist = true %}
          <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
		</ul>
    {% if posts_exist == false %}
        <p class="">There are no posts for this project.</p>
    {% endif %}
	</article><!-- /.hentry -->
  {% endunless %}
{% endfor %}
