---
layout: post-index
title: Yearly Archive
description: "An archive of posts by year."
comments: false
image:
  feature: /blog-header-img.png
---

{% for post in site.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <article>
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}

        <li class="entry-title" style="padding-bottom: 2pt;">
            <p class="kiroku-meta-domain-bubble kiroku-domain-bubble-{{ post.domain }}" style="width: 85pt; text-align: center;">
                <a href="{{ site.url }}/archive-by-domain/#{{ post.domain }}">{% include domainicon domain=post.domain %}{{ post.domain }}</a>
            </p>
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">&ensp;{{ post.title }}</a>
        </li>

    {% if forloop.last %}
      </ul>
    </article>
    {% else %}
        {% if this_year != next_year %}
          </ul>
        </article>
        <article>
          <h2 id="{{ next_year }}-ref" class="year-heading">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}
{% endfor %}
