//
// Scroll Up
//

.scrollup {
  //background-color: #000;
  bottom: 10px;
  display: none;
  height: 30px;
  position: fixed;
  right: 20px;
  //text-indent: -9999px;
  width: 40px;
  z-index: 99;
  cursor: pointer;
}
