//
// Scroll Up
//

.scrollup {
  background: url('icon_top.png') no-repeat;
  background-color: #fff;
  bottom: 50px;
  display: none;
  height: 40px;
  position: fixed;
  right: 100px;
  text-indent: -9999px;
  width: 40px;
}
