//
// Scroll Up
//

// Partial credit to:  http://jsfiddle.net/bosspetta/r1xgwkyd/

#scrollup {
  bottom: 0px;
  cursor: pointer;
  display: none;
  height: 30px;
  position: fixed;
  right: 0px;
  width: 40px;
  z-index: 1000;

/*
  @media #{$medium} {
      bottom: 25px;
      right: 25px;
  }
 */
}
