// CSS for styling domain metadata in posts
////////////////////////////////////////////



.kiroku-domain-entry-ribbon {
    border-top-style: solid;
    border-top-width: 5px;
}

.kiroku-entry-meta-block {
    @media #{$medium} {
        display: flex;
    }
}

.kiroku-entry-meta-half-block {
    @media #{$medium} {
        width: 50%;
    }
}

.kiroku-entry-meta-right-block-text {
    @media #{$medium} {
        text-align: right;
    }
}

.kiroku-meta-domain-bubble {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 3px;
    padding: 2px 6px;
    .count {
        border-radius: 0 3px 3px 0;
    }
}



//
// Domain "Bubbles" (shown on posts as metadata)
//

.kiroku-domain-bubble-Art {
    color: #fff;
    background-color: $kiroku-domain-color-normal-art;
    .count {
        background-color: $kiroku-domain-color-dark-art;
    }
    &:hover {
        background-color: $kiroku-domain-color-dark-art;
    }
}

.kiroku-domain-bubble-Audio {
    color: #fff;
    background-color: $kiroku-domain-color-normal-audio;
    .count {
        background-color: $kiroku-domain-color-dark-audio;
    }
    &:hover {
        background-color: $kiroku-domain-color-dark-audio;
    }
}

.kiroku-domain-bubble-Code {
    color: #fff;
    background-color: $kiroku-domain-color-normal-code;
    .count {
        background-color: $kiroku-domain-color-dark-code;
    }
    &:hover {
        background-color: $kiroku-domain-color-dark-code;
    }
}

.kiroku-domain-bubble-Game-Dev {
    color: #fff;
    background-color: $kiroku-domain-color-normal-game-dev;
    .count {
        background-color: $kiroku-domain-color-dark-game-dev;
    }
    &:hover {
        background-color: $kiroku-domain-color-dark-game-dev;
    }
}

.kiroku-domain-bubble-Writing {
    color: #fff;
    background-color: $kiroku-domain-color-normal-writing;
    .count {
        background-color: $kiroku-domain-color-dark-writing;
    }
    &:hover {
        background-color: $kiroku-domain-color-dark-writing;
    }
}

.kiroku-domain-bubble-Linguistics {
    color: #fff;
    background-color: $kiroku-domain-color-normal-linguistics;
    .count {
        background-color: $kiroku-domain-color-dark-linguistics;
    }
    &:hover {
        background-color: $kiroku-domain-color-dark-linguistics;
    }
}





//
// Domain Ribbons
//


.kiroku-domain-ribbon-Art {
    border-top-color: $kiroku-domain-color-normal-art;
}

.kiroku-domain-ribbon-Audio {
    border-top-color: $kiroku-domain-color-normal-audio;
}

.kiroku-domain-ribbon-Code {
    border-top-color: $kiroku-domain-color-normal-code;
}

.kiroku-domain-ribbon-Game-Dev {
    border-top-color: $kiroku-domain-color-normal-game-dev;
}

.kiroku-domain-ribbon-Writing {
    border-top-color: $kiroku-domain-color-normal-writing;
}

.kiroku-domain-ribbon-Linguistics {
    border-top-color: $kiroku-domain-color-normal-linguistics;
}
