// SCSS Variable Exclusive to this blog
///////////////////////////////////////


// Colors
$kiroku-domain-color-normal-art:            #1ea61f;
$kiroku-domain-color-normal-audio:          #7817e6;
$kiroku-domain-color-normal-code:           #0d91f1;
$kiroku-domain-color-normal-game-dev:       #d61527;
$kiroku-domain-color-normal-writing:        #d9d00a;
$kiroku-domain-color-normal-linguistics:    #e9710f;

$kiroku-domain-color-dark-art:              #0d660e;
$kiroku-domain-color-dark-audio:            #480e8a;
$kiroku-domain-color-dark-code:             #005999;
$kiroku-domain-color-dark-game-dev:         #80020e;
$kiroku-domain-color-dark-writing:          #8f8902;
$kiroku-domain-color-dark-linguistics:      #aa4e03;

$kiroku-domain-color-light-art:             #85e886;
$kiroku-domain-color-light-audio:           #be89fa;
$kiroku-domain-color-light-code:            #95ccf5;
$kiroku-domain-color-light-game-dev:        #f4848f;
$kiroku-domain-color-light-writing:         #fbf68e;
$kiroku-domain-color-light-linguistics:     #f2ac73;

$kiroku-domain-color-pale-art:             #d7f5d8;
$kiroku-domain-color-pale-audio:           #d8c6ed;
$kiroku-domain-color-pale-code:            #bed6e8;
$kiroku-domain-color-pale-game-dev:        #fabec4;
$kiroku-domain-color-pale-writing:         #f9f7cb;
$kiroku-domain-color-pale-linguistics:     #f9c69d;
