<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post" class="feature">

{% include browser-upgrade.html %}
{% include navigation.html %}
{% include scroll-up-btn.html %}

{% assign proj = site.projects | where: 'title', page.project | first %}

<div class="entry-header">
  {% if page.image.credit %}<div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
  <div class="entry-image">
    {% if page.image.feature %}
    <img src="{{ site.url }}/_images/{{ page.image.feature }}" alt="{{ page.title }}">
    {% else %}
        {% if proj %}
        <img src="{{ site.url }}/_images/{{ proj.image.feature }}" alt="Project Image Not Found">
        {% else %}
        <img src="{{ site.url }}/_images/domain-banners/DomBkg_{{ page.domain }}.png" alt="Domain Image Not Found">
        {% endif %}
    {% endif %}
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->

<div id="main" role="main">
  <article class="hentry">
    <header class="header-title">
      <div class="header-title-wrap">
        {% if page.link %}
          <h1 class="entry-title"><i class="fa fa-external-link-square permalink"></i> <a href="{{ page.link }}">{{ page.title }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        {% endif %}
        <h2><span class="entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></h2>
        {% if page.domain %}
            <h2 class="kiroku-meta-domain-bubble kiroku-domain-bubble-{{ page.domain }}">
                <a href="{{ site.url }}/archive-by-domain/#{{ page.domain }}">{% include domainicon domain=page.domain %}{{ page.domain }}</a>
            </h2>
        {% endif %}
        {% if proj %}
            <h2>Project:&nbsp;&nbsp; <a href="{{ site.url }}/projects/{{ proj.title | slugify }}" class="kiroku-domain-text-regular-{{ proj.domain }}" style="text-decoration: underline;">{{ proj.title }}</a></h2>
        {% endif %}
        {% if site.reading_time %}
            <p class="entry-reading-time">
              <i class="fa fa-clock-o"></i>
              {% include read-time.html %}
            </p><!-- /.entry-reading-time -->
        {% endif %}
      </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content {% if page.domain %} kiroku-domain-entry-ribbon kiroku-domain-ribbon-{{ page.domain }} {% endif %}">
      {{ content }}
      <footer class="entry-meta">
        <span class="entry-tags"><i class="fa fa-tags fa-2x" aria-hidden="true"></i>{% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
        {% if page.modified %}<span>Updated on <span class="entry-date date updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>{% endif %}
        {% if page.share != false %}{% include social-share.html %}{% endif %}
      </footer>
    </div><!-- /.entry-content -->
    {% if page.comments == true and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
