<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}
{% include scroll-up-btn.html %}

{% if page.image.feature %}
<div class="entry-header">
  {% if page.image.credit %}<div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
  <div class="entry-image">
    <img src="{{ site.url }}/_images/{{ page.image.feature }}" alt="{{ page.title }}">
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}

<div id="main" role="main">
  <article class="hentry">
    <header class="header-title">
      <div class="header-title-wrap">
        <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        {% if page.do-show-start-date and page.start-date %}
        <h2><span class="entry-date date published">Started:&nbsp; <time datetime="{{ page.start-date | date_to_xmlschema }}">{{ page.start-date | date: "%B %Y" }}</time></span></h2>
        {% endif %}
        {% if page.do-show-end-date %}
            {% if page.end-date %}
            <h2><span class="entry-date date published">Finished:&nbsp; <time datetime="{{ page.end-date | date_to_xmlschema }}">{{ page.end-date | date: "%B %Y" }}</time></span></h2>
            {% else %}
            <h2><span class="entry-date date published">Ongoing</span></h2>
            {% endif %}
        {% endif %}
        {% if page.domain %}
        <h2 class="kiroku-meta-domain-bubble kiroku-domain-bubble-{{ page.domain }}">
            <a href="{{ site.url }}/archive-by-domain/#{{ page.domain }}">{{ page.domain }}</a>
        </h2>
        {% endif %}
        {% if page.project-type %}
        <h2><span class="entry-date date published">Type:&nbsp;&nbsp; {{ page.project-type }}</span></h2>
        {% endif %}
      </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content {% if page.domain %} kiroku-domain-entry-ribbon kiroku-domain-ribbon-{{ page.domain }} {% endif %}">
      {{ content }}
      <footer class="entry-meta">
        {% if page.modified %}<span>Updated on <span class="entry-date date updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>{% endif %}
        {% if page.share != false %}{% include social-share.html %}{% endif %}
      </footer>
    </div><!-- /.entry-content -->
    {% if page.comments == true and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}

  </article>
</div><!-- /#main -->


<article class="hentry">
    <div class="entry-content">
      <h2>Posts for project "{{ page.title }}"</h2>
      {% assign posts_exist = false %}
      {% for post in site.posts %}
          {% if post.project == page.title %}
          {% assign posts_exist = true %}
          <ul>
            <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
          </ul>
          {% endif %}
      {% endfor %}
      {% if posts_exist == false %}
        <p class="">There are no posts for this project.</p>
      {% endif %}
    </div>
</article>



<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
